@use './../../App.scss' as app;



.product-section__upper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center; 
    justify-items: center;
    background-color: app.$secondary;
    margin: 3vh auto 0 auto; 
    height: 60vh;
    max-width: 80vw;
    padding: 2vh;
    border-radius: 0.5vw 0.5vw 0 0;
    &--image{
    
        background-color: app.$secondary;
        padding: 2vh;
        border-radius: 0.5vh;
        border: 5px solid app.$accent;
    }
    
    &--info{
    
        background-color: app.$secondary;
        padding: 2vh;
        border-radius: 0.5vh;
        border:   5px solid app.$accent;
    }

}

.product-section__lower {
    margin-top: 30vh;
    max-width: 80vw;
    margin: 0 auto 0 auto; 
    background-color: app.$secondaryAlt;
    height: 5vh;
    padding: 2vh;
    border-radius: 0 0 0.5vw 0.5vw;
}
