.product-section {
    display: flex;
    flex-direction: column;
  }
  
  .product-section__upper {
    display: flex;
    justify-content: space-between;
  }
  
  .product-section__upper > * {
    flex: 1;
  }
  
  .product-section__lower {
    margin-top: 20px; /* Adjust spacing as needed */
  }
  