.logo {
    height: 5vh;
    float: left;
    justify-self: center;
    align-self: center;
}

.header {
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
}

.searchBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vh;
}

.search {
  border: 1px, 0, black;
  font-size: 3vh;
  width: 60vh;
}