@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

$primary: #a01313;
$secondary: #f0f0f0;
$secondaryAlt: #dbdbdb;

$accent: #e22a2b;
$detail: #f24142;
* {
    margin: 0;
    font-family: "Archivo";
}