@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

$primary: #a01313;
$secondary: #f2f2f2;
$accent: #e22a2b;
* {
    margin: 0;
    font-family: "Archivo";
}