.button {
    border-radius: 2vh;
    border-color: black;
    border-width: 0.2vh;

    padding-left: 2vh;
    padding-right: 2vh;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    
    height: 4vh;
    margin-right: 5vh;
    
}