.button {
    border-radius: 1vh;
    border: none;
    background-color: red;
    color: white;
    font-weight: bold;
    box-shadow: 0 4px #999;

    padding-left: 2vh;
    padding-right: 2vh;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    
    height: 4vh;

    &:hover:focus:active {
        background-color: gray;
        color: black;
        box-shadow: 0 4px #666;
        cursor: pointer;
        transform: translateY(4px);
    }
}
