.searchBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vh;
    
    &__search {
        border-radius: 2vh;
        border: none;
        background-color: #EEEEEE;
        font-size: 1.85vh;

        padding-inline: 1vh;
        width: 100vh;
        height: 3.5vh;

        &:focus {
          border-width: 0.3vh;
          border-color: black;
          background-color: white;
        }
      }
}
