.bought-products {
    display: flex;
    flex-wrap: wrap;
    gap: 2vh; /* Space between products */
    justify-content: center;
    font-family: 'Calibri';
  }
  
  .product-item {
    position: relative; /* Enable absolute positioning within this container */
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.1vh solid #ccc;
    border-radius: 0.8vh;
    padding: 1.6vh;
    background-color: #fff;
    box-shadow: 0 0.2vh 0.4vh rgba(0, 0, 0, 0.1);
    width: 19vh; /* Adjust as needed */
    margin-bottom: 1vh;
  }
  
  .product-image {
    width: 14vh;
    height: auto;
    border-radius: 1vh;
    margin-bottom: 1vh;
  }
  
  .product-details {
    text-align: center;
  }
  
  .product-name {
    font-weight: bold;
    margin-bottom: 4vh;
  }
  
  .product-price {
    color: #888;
  }
  
  /* Style for the product count badge */
  .product-count {
    position: absolute;
    top: 0.6vh;
    right: 0.8vh;
    background-color: #ff5722;
    color: #fff;
    padding: 0.2vh 0.6vh;
    border-radius: 1.2vh;
    font-size: 0.9rem;
    font-weight: bold;
  }

  .product-item:hover {
    background-color: #b9b4b4b9; /* Darken the background on hover */
    transform: translateY(-0.2vh); /* Slight lift effect on hover */
  }
  