.thank-you-customer {
    font-family: 'Calibri';
    display: grid;
    text-align: center;
    margin-bottom: 3vh;
  
    &__message {
      place-self: center;
  
      &--main {
        font-size: 6vh;
        margin-top: 12vh;
      }
  
      &--customer {
        font-size: 3vh;
      }
  
      &--order {
        font-size: 3vh;
      }
    }
  }
  