.thank-you-customer {
    font-family: 'Calibri';
    display:grid;
    text-align: center;
    margin-bottom: 3vh;
}

.thank-you {
    font-size: 6vh;
    place-self: center;
    margin-top: 12vh;
}

.customer {
    font-size: 3vh;
    place-self: center;
}

.order {
    font-size: 3vh;
    place-self: center;
}
