/* HelloAdmin.scss */

.hello-admin-section {
    display: flex; /* Use flexbox to center content */
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center horizontally */
    justify-content: flex-start; /* Align elements at the start of the container */
    margin-top: 60px; /* Adjust as needed to position below the navbar */
    text-align: center; /* Center text */
  }
  
  .h1-admin-hello {
    font-size: 2em; /* Increase font size for emphasis */
    margin-bottom: 20px; /* Space between text and image */
  }
  
  .davids-book-club-logo {
    width: 35%; /* 25% width for larger screens */
    max-width: 100%; /* Ensure the image does not exceed its container */
    height: auto; /* Maintain aspect ratio */
  
    /* Responsive styling for smaller screens */
    @media (max-width: 768px) {
      width: 100%; /* Full width for screens 768px and smaller */
    }
  }
  