

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Adding shadow */
  
  &__form {
      background-color: #fff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Shadow for form */
      width: 300px; /* Adjust width as needed */
    }
    
    &__form-group {
        margin-bottom: 15px;
        
        & .login-page__form-label {
            font-family: cursive; 
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
            font-size: 16px;
        }
        
        & .login-page__form-input {
            width: calc(100% - 20px); /* Adjust padding */
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 16px;
    }
  }

  &__form-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #0056b3;
    }
  }
}
